<!-- use blocks.js to inject content into *parent* layout -->
<!-- use new layout() helper to select parent layout -->

<% layout('layout_site') %>
<% stylesheet('layout.css') %>

<h2>Main Layout</h2>
<p>
    This is the main page layout. 
    It is wrapped by the <t>layout_site</t> layout.
    It adds the following blocks to the layout:
</p>
<ul><li>A layout.css stylesheet</li>
    <li>A layout.js script</li>
    <li>A "hello" paragraph</li>
</ul>

<%- body %>

<% block('foobar', '<p>Hello from layout <em>main</em>!</p>') %>
<% script('layout.js') %>