<!doctype html>
<head>
    <meta charset=utf-8>
    <title>Nested Layouts with Blocks Demo</title>
    <!-- pull in the stylesheets defined by our child layouts/pages -->
    <%- stylesheets %>
</head>
<body>    
    <h1>Site Layout</h1>
    <p>
        This is the master site layout. 
        It is not wrapped by a layout.
        It includes the following dynamic blocks:
    </p>
    <ul><li><t>stylesheets</t>: link rel="stylesheet" references placed before the closing 'head' tag</li>
        <li><t>foobar</t>: this stuff right here: <%- blocks.foobar %>
        <li><t>scripts</t>: script references placed before the closing 'body' tag</li>
    </ul>
    
    <%- body %>

    <!-- pull in the scripts defined by our child layouts/pages -->
    <%- scripts %>
</body>
</html>